<h3>Ask a Question.</h3>
<form>
  <div class="form-group">
    <label for="title">Title</label>
    {{input class="form-control" value=title id="title"}}
  </div>
  <div class="form-group">
    <label for="author">Author</label>
    {{input class="form-control" value=author id="author"}}
  </div>
  <div class="form-group">
    <label for="title">Details</label>
    {{textarea rows="10"  class="form-control" value=detail id="detail"}}
  </div>
  <button class="btn-lg btn-default" {{action 'save1' }} >Ask It!</button>
  <hr>
  <div class="form-group">
    {{input type="checkbox" name="serious" checked=serious}}
    <label for="isSerious">Mark Question Serious</label>
  </div>
  <div class="form-group">
    {{input type="checkbox" name="NSFW" checked=nsfw}}
    <label for="isNSFW">Mark Question NSFW</label>
  </div>
</form>
