  <li class="each_question">
    {{question-tags question}}
  {{#link-to 'question' question.id}}
    || {{question.title}} -- {{question.author}} ||
  {{/link-to}}
  <h3>{{update-question question=question update="update"}}{{questionInfo}}</h3>
  </li>
