

{{#link-to 'question' question.id}}
  <li class="each_question">
    <div class="row">
      <div class="col-md-2">
        <h3>{{update-question question=question update="update"}}</h3>
      </div>
      <div class="col-md-10">
        <h3 class="question"><strong>Q:</strong> {{question.title}}<br> <strong>Asked By:</strong>{{question.author}}</h3>
        <br>
        {{questionInfo}}{{question-tags question}}
      </div>
    </div>
  </li>
{{/link-to}}
